In [2]:
import pandas as pd
from pathlib import Path
# from euroclear.config import RAW_DATA_DIR
from ydata_profiling import ProfileReport
import pycountry

import seaborn as sns
import matplotlib.pyplot as plt

In [4]:

df0= pd.read_parquet('../data/raw/transactions/part-00000-19904efd-0210-4d92-a6aa-240aa1395756-c000.snappy.parquet')
df1= pd.read_parquet('../data/raw/transactions/part-00001-19904efd-0210-4d92-a6aa-240aa1395756-c000.snappy.parquet')
df2= pd.read_parquet('../data/raw/transactions/part-00002-19904efd-0210-4d92-a6aa-240aa1395756-c000.snappy.parquet')
df3= pd.read_parquet('../data/raw/transactions/part-00003-19904efd-0210-4d92-a6aa-240aa1395756-c000.snappy.parquet')
df4= pd.read_parquet('../data/raw/transactions/part-00004-19904efd-0210-4d92-a6aa-240aa1395756-c000.snappy.parquet')

df_transactions = pd.concat([df0, df1, df2, df3, df4]).reset_index(drop=True).drop_duplicates()

In [5]:
df_transactions

,receive_security,deliver_security,transaction_timestamp,isin,unit_delivered,market_value,currency_code
0,467,999,2024-10-14 00:56:29.720,VUZ6Y63XUBXX,83,8413.888742,VUV
1,900,951,2024-06-28 03:29:05.989,PY16X4TF41XX,14,1522.018825,PYG
2,951,467,2024-04-20 17:29:01.907,GRH2R9FA87XX,35,1750.000000,EUR
3,761,972,2024-05-08 05:39:37.337,THCH92075SXX,77,7946.111683,THB
4,741,807,2024-09-24 14:31:20.002,MO175J399TXX,75,7366.189708,MOP
...,...,...,...,...,...,...,...
12300512,14,761,2024-11-25 00:13:45.073,SA8HZ047A1XX,1062,111852.367978,SAR
12300513,761,302,2024-03-30 04:48:35.214,PEGI8948EUXX,705,35250.000000,PEN
12300514,69,923,2024-10-23 04:03:46.102,MHG651B683XX,1332,136978.160383,USD
12300515,923,179,2024-08-02 10:19:40.088,MHG651B683XX,780,80903.509297,USD
12300516,497,832,2024-11-03 10:36:18.562,NR24162ZN4XX,1691,84550.000000,AUD

In [6]:
df_securit = pd.read_parquet('../data/raw/securities/part-00000-8d4b72c8-6d72-4b4d-9f02-4d030bdfad38-c000.snappy.parquet')

In [7]:
df_security

,isin,currency_code,instrument_type,issuer,issuer_country_code
0,AF5WJQUFC6XX,AFN,BOND,Schmidt-Wilderman,AF
1,AF4425P29UXX,AFN,BOND,Kemmer-Langosh,AF
2,AFLAJ05JHVXX,AFN,BOND,Gleason Inc,AF
3,AFIXS9N5W9XX,AFN,BOND,"Goldner, Mills and Ruecker",AF
4,AFRCRP2E2OXX,AFN,BOND,Funk and Sons,AF
...,...,...,...,...,...
1995,ZWGS6P0RE4XX,ZWD,BOND,"Hermann, Kiehn and Roob",ZW
1996,ZW436GP8IFXX,ZWD,BOND,Volkman-Bernier,ZW
1997,ZW3U03JW81XX,ZWD,BOND,Haag and Sons,ZW
1998,ZW0258309SXX,ZWD,BOND,"Hegmann, Swift and Moen",ZW
1999,ZW13KZYCM6XX,ZWD,BOND,Kling LLC,ZW

In [12]:
df = pd.merge(df_transactions, df_security, how='left', on='isin', suffixes=('_transactions', '_security'))

In [13]:
df

,receive_security,deliver_security,transaction_timestamp,isin,unit_delivered,market_value,currency_code_transactions,currency_code_security,instrument_type,issuer,issuer_country_code
0,467,999,2024-10-14 00:56:29.720,VUZ6Y63XUBXX,83,8413.888742,VUV,VUV,BOND,Medhurst-Littel,VU
1,900,951,2024-06-28 03:29:05.989,PY16X4TF41XX,14,1522.018825,PYG,PYG,BOND,"Feil, Simonis and Parisian",PY
2,951,467,2024-04-20 17:29:01.907,GRH2R9FA87XX,35,1750.000000,EUR,EUR,BOND,Dooley Inc,GR
3,761,972,2024-05-08 05:39:37.337,THCH92075SXX,77,7946.111683,THB,THB,BOND,White Group,TH
4,741,807,2024-09-24 14:31:20.002,MO175J399TXX,75,7366.189708,MOP,MOP,BOND,Davis Inc,MO
...,...,...,...,...,...,...,...,...,...,...,...
12300512,14,761,2024-11-25 00:13:45.073,SA8HZ047A1XX,1062,111852.367978,SAR,SAR,BOND,"Braun, Nolan and Stanton",SA
12300513,761,302,2024-03-30 04:48:35.214,PEGI8948EUXX,705,35250.000000,PEN,PEN,BOND,"Ritchie, Becker and Greenholt",PE
12300514,69,923,2024-10-23 04:03:46.102,MHG651B683XX,1332,136978.160383,USD,USD,BOND,Mayert LLC,MH
12300515,923,179,2024-08-02 10:19:40.088,MHG651B683XX,780,80903.509297,USD,USD,BOND,Mayert LLC,MH
12300516,497,832,2024-11-03 10:36:18.562,NR24162ZN4XX,1691,84550.000000,AUD,AUD,BOND,Hessel and Sons,NR

In [14]:
df_accounts = pd.read_parquet('../data/raw/accounts/part-00000-af066738-0f3b-45e4-a08f-6d7ed4f84424-c000.snappy.parquet')

In [15]:
df_accounts

,account_id,company_name,address,country
0,844,Stark-Wilkinson,"11959 Andrew Mills,North Raleigh",Afghanistan
1,720,"Spencer, Vandervort and Jacobs","28934 Schaden Locks,Desiraetown",Afghanistan
2,49,Ziemann-Lowe,"09596 Jesus Mission,South Sana",Afghanistan
3,39,"O'Hara, MacGyver and Ratke","176 Everett Radial,North Ulysses",Afghanistan
4,864,Jakubowski Inc,"395 Smith Course,South Blaketon",Albania
...,...,...,...,...
995,2,Kassulke-Breitenberg,"5440 Prosacco Hollow,Renatoberg",Zambia
996,528,Senger Inc,"71666 Lon Streets,Janellaton",Zimbabwe
997,494,Brown-Mueller,"750 Wehner Trace,Benview",Zimbabwe
998,489,Gutmann-Wisozk,"1088 Lebsack Vista,Richiefort",Zimbabwe
999,271,Lindgren Inc,"96284 Smith Vista,West Marquisside",Zimbabwe

In [16]:
acc = df_accounts[["account_id", "country", "company_name"]]

In [17]:
tx = df.merge(
    acc.rename(columns={
        "account_id": "receive_security",
        "country":     "receive_country",
        "company_name":"receive_company"
    }),
    on="receive_security",
    how="left"
)

tx = tx.merge(
    acc.rename(columns={
        "account_id": "deliver_security",
        "country":     "deliver_country",
        "company_name":"deliver_company"
    }),
    on="deliver_security",
    how="left"
)

In [18]:
tx

,receive_security,deliver_security,transaction_timestamp,isin,unit_delivered,market_value,currency_code_transactions,currency_code_security,instrument_type,issuer,issuer_country_code,receive_country,receive_company,deliver_country,deliver_company
0,467,999,2024-10-14 00:56:29.720,VUZ6Y63XUBXX,83,8413.888742,VUV,VUV,BOND,Medhurst-Littel,VU,Trinidad and Tobago,"Heidenreich, Hamill and Balistreri",China,Beatty-Runolfsdottir
1,900,951,2024-06-28 03:29:05.989,PY16X4TF41XX,14,1522.018825,PYG,PYG,BOND,"Feil, Simonis and Parisian",PY,Oman,"Baumbach, Swift and Wuckert",Samoa,Anderson Inc
2,951,467,2024-04-20 17:29:01.907,GRH2R9FA87XX,35,1750.000000,EUR,EUR,BOND,Dooley Inc,GR,Samoa,Anderson Inc,Trinidad and Tobago,"Heidenreich, Hamill and Balistreri"
3,761,972,2024-05-08 05:39:37.337,THCH92075SXX,77,7946.111683,THB,THB,BOND,White Group,TH,New Zealand,"Runolfsdottir, Jakubowski and Schowalter",Trinidad and Tobago,"Ward, Reinger and Feeney"
4,741,807,2024-09-24 14:31:20.002,MO175J399TXX,75,7366.189708,MOP,MOP,BOND,Davis Inc,MO,Portugal,Boehm LLC,Albania,"Homenick, Stokes and Turner"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12300512,14,761,2024-11-25 00:13:45.073,SA8HZ047A1XX,1062,111852.367978,SAR,SAR,BOND,"Braun, Nolan and Stanton",SA,Barbados,Schimmel-Kunze,New Zealand,"Runolfsdottir, Jakubowski and Schowalter"
12300513,761,302,2024-03-30 04:48:35.214,PEGI8948EUXX,705,35250.000000,PEN,PEN,BOND,"Ritchie, Becker and Greenholt",PE,New Zealand,"Runolfsdottir, Jakubowski and Schowalter",Brunei Darussalam,Frami-Schroeder
12300514,69,923,2024-10-23 04:03:46.102,MHG651B683XX,1332,136978.160383,USD,USD,BOND,Mayert LLC,MH,Belgium,Farrell and Sons,Poland,Wilkinson-Kerluke
12300515,923,179,2024-08-02 10:19:40.088,MHG651B683XX,780,80903.509297,USD,USD,BOND,Mayert LLC,MH,Poland,Wilkinson-Kerluke,Greece,Swaniawski-Parisian
12300516,497,832,2024-11-03 10:36:18.562,NR24162ZN4XX,1691,84550.000000,AUD,AUD,BOND,Hessel and Sons,NR,Hungary,Morar-Kuphal,Philippines,"Jacobs, Waters and Hilpert"

In [19]:
tx[tx["receive_country"] == tx["deliver_country"]]

,receive_security,deliver_security,transaction_timestamp,isin,unit_delivered,market_value,currency_code_transactions,currency_code_security,instrument_type,issuer,issuer_country_code,receive_country,receive_company,deliver_country,deliver_company
24,320,869,2024-08-03 06:28:55.106,LU76K54803XX,6,300.000000,EUR,EUR,BOND,Gaylord and Sons,LU,Nauru,Beatty LLC,Nauru,Brakus Inc
68,867,773,2024-10-16 10:48:01.952,GRH2R9FA87XX,12,1136.856626,EUR,EUR,BOND,Dooley Inc,GR,Kuwait,Davis-Carter,Kuwait,"Conroy, Feil and Ullrich"
108,467,972,2024-02-09 21:44:12.643,VUZ6Y63XUBXX,1,100.186579,VUV,VUV,BOND,Medhurst-Littel,VU,Trinidad and Tobago,"Heidenreich, Hamill and Balistreri",Trinidad and Tobago,"Ward, Reinger and Feeney"
584,786,398,2024-09-01 10:32:33.178,GT4162909RXX,61,3050.000000,GTQ,GTQ,BOND,Cummerata-Bradtke,GT,Vanuatu,Bins Inc,Vanuatu,Howell-Dach
1055,48,782,2024-10-19 12:13:20.445,ALE74956AQXX,73,3650.000000,ALL,ALL,BOND,Dare and Sons,AL,Colombia,Grimes-Hirthe,Colombia,"Gutkowski, Kunze and Jacobi"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12300292,422,0,2024-03-26 11:43:52.733,UZ6107L330XX,27,2672.296861,UZS,UZS,BOND,"Kassulke, Jerde and Kuhlman",UZ,Georgia,Huels Inc,Georgia,Rodriguez-King
12300324,422,0,2024-11-08 14:53:29.435,TGZ2N9802NXX,88,8780.263715,XOF,XOF,BOND,Kulas Group,TG,Georgia,Huels Inc,Georgia,Rodriguez-King
12300379,425,382,2024-12-07 21:27:10.451,UZ6107L330XX,96,4800.000000,UZS,UZS,BOND,"Kassulke, Jerde and Kuhlman",UZ,Papua New Guinea,Hoppe-Hyatt,Papua New Guinea,"Moen, Hettinger and Lockman"
12300449,753,0,2024-07-18 12:13:23.823,UZ6107L330XX,23,2346.869717,UZS,UZS,BOND,"Kassulke, Jerde and Kuhlman",UZ,Georgia,"Feil, Terry and Muller",Georgia,Rodriguez-King
12300458,679,369,2024-05-19 07:06:48.387,ME3WNYK06CXX,35,1750.000000,EUR,EUR,BOND,King-Wisoky,ME,Egypt,Oberbrunner and Sons,Egypt,Bednar-Reynolds

In [20]:
tx['is_local'] = tx["receive_country"] == tx["deliver_country"]

In [46]:
tx

,receive_security,deliver_security,transaction_timestamp,isin,unit_delivered,market_value,currency_code_transactions,currency_code_security,instrument_type,issuer,issuer_country_code,receive_country,receive_company,deliver_country,deliver_company,is_local
0,467,999,2024-10-14 00:56:29.720,VUZ6Y63XUBXX,83,8413.888742,VUV,VUV,BOND,Medhurst-Littel,VU,Trinidad and Tobago,"Heidenreich, Hamill and Balistreri",China,Beatty-Runolfsdottir,False
1,900,951,2024-06-28 03:29:05.989,PY16X4TF41XX,14,1522.018825,PYG,PYG,BOND,"Feil, Simonis and Parisian",PY,Oman,"Baumbach, Swift and Wuckert",Samoa,Anderson Inc,False
2,951,467,2024-04-20 17:29:01.907,GRH2R9FA87XX,35,1750.000000,EUR,EUR,BOND,Dooley Inc,GR,Samoa,Anderson Inc,Trinidad and Tobago,"Heidenreich, Hamill and Balistreri",False
3,761,972,2024-05-08 05:39:37.337,THCH92075SXX,77,7946.111683,THB,THB,BOND,White Group,TH,New Zealand,"Runolfsdottir, Jakubowski and Schowalter",Trinidad and Tobago,"Ward, Reinger and Feeney",False
4,741,807,2024-09-24 14:31:20.002,MO175J399TXX,75,7366.189708,MOP,MOP,BOND,Davis Inc,MO,Portugal,Boehm LLC,Albania,"Homenick, Stokes and Turner",False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12300512,14,761,2024-11-25 00:13:45.073,SA8HZ047A1XX,1062,111852.367978,SAR,SAR,BOND,"Braun, Nolan and Stanton",SA,Barbados,Schimmel-Kunze,New Zealand,"Runolfsdottir, Jakubowski and Schowalter",False
12300513,761,302,2024-03-30 04:48:35.214,PEGI8948EUXX,705,35250.000000,PEN,PEN,BOND,"Ritchie, Becker and Greenholt",PE,New Zealand,"Runolfsdottir, Jakubowski and Schowalter",Brunei Darussalam,Frami-Schroeder,False
12300514,69,923,2024-10-23 04:03:46.102,MHG651B683XX,1332,136978.160383,USD,USD,BOND,Mayert LLC,MH,Belgium,Farrell and Sons,Poland,Wilkinson-Kerluke,False
12300515,923,179,2024-08-02 10:19:40.088,MHG651B683XX,780,80903.509297,USD,USD,BOND,Mayert LLC,MH,Poland,Wilkinson-Kerluke,Greece,Swaniawski-Parisian,False
12300516,497,832,2024-11-03 10:36:18.562,NR24162ZN4XX,1691,84550.000000,AUD,AUD,BOND,Hessel and Sons,NR,Hungary,Morar-Kuphal,Philippines,"Jacobs, Waters and Hilpert",False

In [47]:
tx.groupby("is_local")["market_value"].describe().round(2)

,count,mean,std,min,25%,50%,75%,max
is_local,,,,,,,,
False,12164516.0,4258.19,2815.42,50.0,1931.63,3817.66,6392.18,176996.12
True,136001.0,4263.05,2811.41,50.0,1927.48,3846.29,6392.21,11504.91

In [48]:
domestic_counts = (
    tx.loc[tx["is_local"]]
    .groupby("receive_country")
    .size()
    .reset_index(name="num_domestic_transactions")
    .sort_values("num_domestic_transactions", ascending=False)
)
print(domestic_counts.head(10))

   receive_country  num_domestic_transactions
0         Bulgaria                      18000
4       Costa Rica                      18000
6          Georgia                      12000
3         Colombia                       9000
23         Vanuatu                       9000
17            Peru                       8000
7           Greece                       6000
1         Cambodia                       6000
18          Serbia                       6000
19      Seychelles                       6000

In [49]:
no_domestic_counts = (
    tx.loc[tx["is_local"]]
    .groupby("receive_country")
    .size()
    .reset_index(name="num_domestic_transactions")
    .sort_values("num_domestic_transactions", ascending=False)
)
print(domestic_counts.head(10))

   receive_country  num_domestic_transactions
0         Bulgaria                      18000
4       Costa Rica                      18000
6          Georgia                      12000
3         Colombia                       9000
23         Vanuatu                       9000
17            Peru                       8000
7           Greece                       6000
1         Cambodia                       6000
18          Serbia                       6000
19      Seychelles                       6000

In [50]:
intl = tx.loc[~tx["is_local"], ["receive_country", "deliver_country"]]

In [51]:
country_counts = pd.concat([intl['receive_country'], intl['deliver_country']]).value_counts()

In [45]:
country_counts

Colombia       862000
Bulgaria       846000
Costa Rica     842000
Vanuatu        804000
Greece         751011
                ...
Chile               2
Kyrgyzstan          1
Belarus             1
Afghanistan         1
Madagascar          1
Name: count, Length: 108, dtype: int64

In [53]:
intl_counts = (
    pd.concat([intl["receive_country"], intl["deliver_country"]])
    .value_counts()
    .reset_index()
    .rename(columns={"index": "country", 0: "num_international_transactions"})
)

In [54]:
intl_counts

         country   count
0       Colombia  862000
1       Bulgaria  846000
2     Costa Rica  842000
3        Vanuatu  804000
4         Greece  751011
..           ...     ...
103        Chile       2
104   Kyrgyzstan       1
105      Belarus       1
106  Afghanistan       1
107   Madagascar       1

[108 rows x 2 columns]