In [1]:
import pandas as pd
# from euroclear.config import RAW_DATA_DIR
from ydata_profiling import ProfileReport
import pycountry

In [7]:
df0= pd.read_parquet('../data/raw/forex_ex/part-00000-27bd45d4-da0e-47e7-b151-a47caedbc2e6-c000.snappy.parquet')
df1= pd.read_parquet('../data/raw/forex_ex/part-00001-27bd45d4-da0e-47e7-b151-a47caedbc2e6-c000.snappy.parquet')
df2= pd.read_parquet('../data/raw/forex_ex/part-00002-27bd45d4-da0e-47e7-b151-a47caedbc2e6-c000.snappy.parquet')
df3= pd.read_parquet('../data/raw/forex_ex/part-00003-27bd45d4-da0e-47e7-b151-a47caedbc2e6-c000.snappy.parquet')
df4= pd.read_parquet('../data/raw/forex_ex/part-00004-27bd45d4-da0e-47e7-b151-a47caedbc2e6-c000.snappy.parquet')

df_forex = pd.concat([df0, df1, df2, df3, df4]).reset_index(drop=True).drop_duplicates()

In [12]:
df = pd.concat([df0, df1, df2, df3, df4]).reset_index(drop=True).drop_duplicates()

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141 entries, 0 to 140
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   currency_code   141 non-null    object
 1   equivalent_eur  141 non-null    float64
dtypes: float64(1), object(1)
memory usage: 2.3+ KB

In [17]:
#To do Å‚aczenia parqueta

#df = pd.read_parquet(Path(RAW_DATA_DIR) / "forex_ex")

In [29]:
df.head(10)

  currency_code  equivalent_eur
0           PYG        1.792145
1           SYP        0.211584
2           CZK        4.140218
3           CAD        3.885958
4           EUR        1.000000
5           HTG        0.951050
6           TWD        1.805162
7           MNT        1.282878
8           GEL        7.153374
9           STD        9.979734